/*SETA PONTOS CADEAIS*/
.seta_base{ display: inline-block; vertical-align: middle; margin-right: 10px; width: 0; height: 0; }
.seta_base_esquerda{ border-top: 5px solid transparent; border-bottom: 5px solid transparent; border-right: 5px solid blue; }
.seta_base_direita{ border-top: 5px solid transparent; border-bottom: 5px solid transparent; border-left: 5px solid #3576BA; }
.seta_base_cima{ border-left: 5px solid transparent; border-right: 5px solid transparent; border-bottom: 5px solid black;}
.seta_base_baixo{ border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #f00; }

/*SETA DIAGONAIS*/
.diagonal_seta{ border: solid 40px transparent; width: 0; height: 0; display: inline-block; }
.bottom_right { border-right: none; border-top: none; border-bottom: solid 40px #888; }
.bottom_left { border-left: solid 40px #555; border-bottom: solid 40px #555; }
.top_right { border-right: solid 40px #555; border-top: solid 40px #555; }
.top_left { border-left: solid 40px #888; border-top: solid 40px #888; }

.esconder_alvo{
	opacity: 0;
	transform: scale(0);-webkit-transform: scale(0);-moz-transform: scale(0);-ms-transform: scale(0);-o-transform: scale(0);
}
.esconder_alvo.mostrar_alvo{
	opacity: 1;
	transform: scale(1);-webkit-transform: scale(1);-moz-transform: scale(1);-ms-transform: scale(1);-o-transform: scale(1);
}

.modal_form_float .fundo, .modal_form_float, .modal_form_float .Vcenter, .botoes_floats.formato_1 .botoes_ > div, .esconder_alvo{
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

.botoes_floats {
	position: fixed;
	/*right: 10px;*/
	right: 0;
	bottom: 10px;
	z-index: 9999;
	display: block!important;
	height: auto;
}
/*.botoes_floats .botoes_ {position: relative;float: left;width: 100%;}*/

.botoes_floats .botoes_ > div, .botoes_floats .blocos{
	position: relative;
	display: table;
	background: #0DC152;
	width: 100%;
	padding: 10px 15px;
	/*border-radius: 15px;*/
}
.botoes_floats.botoes_redondos .botoes_ > div{border-radius: 15px 0 0 15px;}
.botoes_floats.botoes_quadrados .botoes_ > div{border-radius: 0;}
.botoes_floats .botoes_ > div{margin-top: 2px;}
/*.botoes_floats .botoes_mult{}*/
/*.botoes_floats .botoes_mult > div:first-child{border-bottom-left-radius: 0;border-bottom-right-radius: 0;}*/
/*.botoes_floats .botoes_mult > div+div{border-radius: 0;}*/
/*.botoes_floats .botoes_mult > div:last-child{border-radius: 0 0 15px 15px;}*/

.botoes_floats .botoes_ > div a .img_icone{
	filter: brightness(0) invert(1);
	-webkit-filter: brightness(0) invert(1);
	-moz-filter: brightness(0) invert(1);
	-ms-filter: brightness(0) invert(1);
	-o-filter: brightness(0) invert(1);
	max-width: 100%;
	max-width: 20px;
	max-height: 20px;

	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	margin-top: 0;
}

@keyframes animate_balao {
	0% { bottom: 0; }
	40% { bottom: 0; opacity: 0;}
	48% { bottom: 105%; opacity: 1 }
	50% { bottom: 100%; opacity: 1 }
	90% { bottom: 100%; opacity: 1;}
	100% { bottom: 0; }
}
.botoes_floats > div.box_mensagem{
	position: absolute;
	/*right: 10px;*/
	right: 0;
	bottom: 100%;
	width: auto;
	margin-bottom: 25px;
	border-radius: 10px;
	padding: 10px;

	/*bottom: 0;
	opacity: 0;
	animation: animate_balao 10s infinite ease-in-out;*/
}
.botoes_floats > div.box_mensagem .seta_base_baixo{
	position: absolute;
	top: 100%;
	right: 10px;
	border-left-width: 15px;
	border-right-width: 15px;
	border-top-width: 15px;
	border-top-color: #0DC152;
}
.botoes_floats .foto_mensagem img{max-width: 100%;}
.botoes_floats .foto_mensagem{
	position: relative;
	/*float: left;*/
	width: 60px;
	height: 60px;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 50px;

	position: absolute;
	left: 50%;
	top: 0;
	margin-top: -30px;
	margin-left: -30px;
}
.botoes_floats .box_mensagem p{margin-bottom: 0;color: white;font-size: 100%;line-height: 18px;text-align: center;}
.botoes_floats .texto_mensagem{
	position: relative;
	max-width: 150px;
	float: right;
}
.botoes_floats .texto_mensagem .Vcenter{position: relative;width: 100%;height: 50px;}
.botoes_floats .foto_mensagem+.texto_mensagem{
	/*padding-left: 10px;*/
	width: 100px;
	margin-top: 20px;
}



.link_botao_whatsappfloat .center_link a, .link_botao_whatsappfloat .center_link a span,
.link_botao_whatsappfloat .center_link .link_click, .link_botao_whatsappfloat .center_link .link_click span{
	float: left;
	bottom: 0;
	color: white;
	width: 100%;
}
.link_botao_whatsappfloat a span, .link_botao_whatsappfloat .link_click span{color: white;}
/*.botoes_floats > .bot_top{border-radius: 15px 15px 0 0;}*/

.link_botao_whatsappfloat a span.txt, .link_botao_whatsappfloat .link_click span.txt{
	position: relative;
	padding-left: 30px;
	line-height: 20px;
	font-weight: normal;
}
.link_botao_whatsappfloat a .fa, .link_botao_whatsappfloat a .fab,
.link_botao_whatsappfloat .link_click .fa, .link_botao_whatsappfloat .link_click .fab{
	position: absolute;
	left: 0;
	top: 50%;
	/*margin-top: -10.5px;*/
	margin-top: -7.5px;
	color: white;font-size: 135%;
}
/*.link_botao_whatsappfloat .abrir_link{display: none;}*/
.link_botao_whatsappfloat .abrir_link{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: none;
	display: block;
}

.mobi{display: none;}
.botoes_floats .Vcenter{position: relative;display: table;height: 100%;width: 100%;}
.botoes_floats .Vcenter>div:first-child{
	position: relative;display: table-cell;vertical-align: middle;margin-top: 50%;
	#margin-top: 0;#float: left;#width: 100%;/*EXPLORER*/
}
.botoes_floats label.Vcenter{margin-bottom: 0;font-weight: normal;}


.modal_form_float .fundo{background: black;opacity: 0;}
.modal_form_float.modal_visivel .fundo{opacity: 0.5;}
.modal_form_float{
	position: fixed;
	right: 100%;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	visibility: hidden;
	z-index: 9;
	background: rgba(0,0,0,0.75);
}
.modal_form_float.modal_visivel{visibility: visible;}

.modal_form_float .Vcenter{
	width: 90%;max-width: 400px;margin: 0 auto;opacity: 0;
	transform: scale(0);-webkit-transform: scale(0);-moz-transform: scale(0);-ms-transform: scale(0);-o-transform: scale(0);
}
.modal_form_float.modal_visivel .Vcenter{opacity: 1;transform: scale(1);-webkit-transform: scale(1);-moz-transform: scale(1);-ms-transform: scale(1);-o-transform: scale(1);}

.modal_form_float .blocos{
	/*background: black;*/
	/*padding: 20px;*/
	/*padding: 30px 40px;*/
	/*border-radius: 5px;*/
	padding: 40px 50px;
	border-radius: 5px;
}

.modal_form_float .titulo_{
	position: relative;
	margin: 0;
	margin-bottom: 10px;
	color: white;
	line-height: 30px;
}
.modal_form_float .div_input_loading{margin-top: 5px;}
.modal_form_float label{width: 100%;color: white;}
.modal_form_float label p{color: white;margin-bottom: 0;}
.modal_form_float input, .modal_form_float textarea, .input_label label{
	width: 100%;
	padding: 5px;
	font-weight: normal;
	float: left;
	color: black;
	/*border-radius: 2.5px;*/
	padding: 5px 10px;
	border-radius: 2px;
	/*border: none;*/
}

.modal_form_float .div_input_loading button .fa{position: relative;color: black;}
.modal_form_float .div_input_loading button{padding: 6px 20px;}
.modal_form_float .fa-close, .link_fechar, .modal_form_float .fa-close:hover, .link_fechar:hover{
	position: absolute;
	right: -7.5px;
	top: -7.5px;
	float: right;
	height: 22px;
	padding: 2px 5px;
	border: solid white 1px;
	border-radius: 50%;
	color: white;
	background: black;
	font: normal normal normal 14px/1 FontAwesome!important;
}
.horizontal_right .box_mensagem .link_fechar{
	left: -7.5px;
	right: auto;
}

.div_input_loading{position: relative;display: table;margin: 0 auto;outline-color: solid red 1px;}
/*.div_input_loading .oc-loading, .loading_select .oc-loading{
	position: absolute;
	right: 5px;
	top: 50%;
	margin-top: -11.5px;
	color: white;
	z-index: 9999;
}
.loading_select .oc-loading{color: black;right: 8px;}*/

.div_input_loading .oc-loading{
	cursor: progress;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
}
.div_input_loading .oc-loading:after{
	position: absolute;
	right: 5px;
	top: 50%;
	margin-top: -8px;
	color: black;
	z-index: 9;
}
.div_input_loading > *{position: relative;}


.div_input_loading .oc-loading{cursor: progress;}
.div_input_loading:hover .oc-loading{color: white;}
.modal_form_float .oc-loading, .modal_form_float .div_input_loading:hover .oc-loading{color: black;}

.stripe-loading-indicator{z-index: 99999;}

.botoes_floats.horizontal_left{left: 0;right: auto;}
.botoes_floats.horizontal_left > div.box_mensagem{left: 0;right: auto;}
.botoes_floats.horizontal_left > div.box_mensagem .seta_base_baixo{left: 10px;right: auto;}
.horizontal_left.botoes_floats.botoes_redondos .botoes_ > div{border-radius: 0 15px 15px 0;}

/*/////////////////FORMATO 1*/
.botoes_floats.formato_1{
	/*left: 100%;right: auto;*/
	/*left: 100%;*/
	width: 0;
}
.botoes_floats.formato_1 > div.box_mensagem{
	/*right: 100%;*/
}
.botoes_floats.formato_1 .botoes_ > div{
	white-space: nowrap;
	/*right: 45px;*/
	/*margin-left: -45px;*/
	/*right: -100%;*/
	margin-right: 45px;
	width: auto;
	float: right;
	clear: both;
	transform: translateX(100%); -webkit-transform: translateX(100%); -moz-transform: translateX(100%); -ms-transform: translateX(100%); -o-transform: translateX(100%);
}

.botoes_floats.formato_1.horizontal_left > div.box_mensagem{left: 0;}
.botoes_floats.formato_1.horizontal_left .botoes_ > div{
	margin-left: 40px;
	transform: translateX(-100%); -webkit-transform: translateX(-100%); -moz-transform: translateX(-100%); -ms-transform: translateX(-100%); -o-transform: translateX(-100%);
	float: left;
}
.botoes_floats.formato_1 .botoes_ > div:hover{
	right: 0;
	margin-left: 0;
	margin-right: 0;
	transform: translateX(0%); -webkit-transform: translateX(0%); -moz-transform: translateX(0%); -ms-transform: translateX(0%); -o-transform: translateX(0%);
}

.botoes_floats.formato_1.horizontal_left .link_botao_whatsappfloat .center_link .fa,.botoes_floats.formato_1.horizontal_left .link_botao_whatsappfloat .center_link .fab{
	right: 0;
	left: auto;
}
.link_botao_whatsappfloat a span.txt, .link_botao_whatsappfloat .link_click span.txt{text-align: left;}
.botoes_floats.formato_1.horizontal_left .link_botao_whatsappfloat a span.txt,
.botoes_floats.formato_1.horizontal_left .link_botao_whatsappfloat .link_click span.txt{padding-right: 30px;padding-left: 0;text-align: right;}
.formato_1.horizontal_left .link_botao_whatsappfloat a,.formato_1.horizontal_left .link_botao_whatsappfloat a span,
.formato_1.horizontal_left .link_botao_whatsappfloat .link_click,.formato_1.horizontal_left .link_botao_whatsappfloat .link_click span{
	float: right;
}
/*/////////////////FORMATO 1*/

/*/////////////////FORMATO 2*/
.botoes_floats.formato_2 .link_botao_whatsappfloat .center_link .fa, .botoes_floats.formato_2 .link_botao_whatsappfloat .center_link .fab{position: relative;left: 0;top: 0;text-align: center;width: 100%;margin-bottom: 5px;}
.botoes_floats.formato_2 .botoes_ > div{width: 90px;display: block;padding: 5px 0;}
.botoes_floats.formato_2 .botoes_ .Vcenter{min-height: 60px;}
.botoes_floats.formato_2 .link_botao_whatsappfloat .center_link a, .botoes_floats.formato_2 .link_botao_whatsappfloat .center_link .link_click{width: 100%;}
.botoes_floats.formato_2 .link_botao_whatsappfloat a, .botoes_floats.formato_2 .link_botao_whatsappfloat .link_click{text-align: center;}
.botoes_floats.formato_2 .link_botao_whatsappfloat a span.txt, .botoes_floats.formato_2 .link_botao_whatsappfloat .link_click span.txt{padding: 5px;text-align: center;font-size: 70%;width: 100%;}
.botoes_floats.formato_2 .link_botao_whatsappfloat span.txt{line-height: 10px;}
.botoes_floats.formato_2 .botoes_ > div a .img_icone, .botoes_floats.formato_2 .botoes_ > div .link_click .img_icone{
	position: relative;
	top: 0;
	transform: translateY(0); -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0);
	margin: 0 auto;
	float: none;
}
/*/////////////////FORMATO 2*/


.botoes_floats .input_label{position: relative;width: 100%;display: block;float: left;margin-bottom: 10px;}
.botoes_floats .input_label label{
	position: absolute;
	left: 0;
	top: 0;
	color: #333;
	font-weight: normal;
	background: none!important;
	border: none!important;
	/*height: auto!important;*/
	top: 0;
	box-shadow: none;
	cursor: text;
	width: auto;
	height: 100%;
	/*line-height: 28px;*/
}
.botoes_floats .input_label textarea+label{top: 0;}
.botoes_floats .input_label input:focus+label, .botoes_floats .input_label textarea:focus+label{opacity: 0.5;}
.botoes_floats .input_label input:valid+label, .botoes_floats .input_label textarea:valid+label{display: none;}


@media(max-width: 600px){

	.botoes_floats .botoes_ > div{float: left;white-space: normal!important;font-size: 90%;margin-top: 0;}

	.modal_form_float .blocos{padding: 20px 25px;}
	/*.botoes_floats .blocos{padding: 10px 10px;}*/
	.botoes_floats .botoes_ > div{padding: 5px 10px;}
	.botoes_floats .botoes_ > div .Vcenter{height: 35px;width: auto;margin: 0 auto;min-height: 0!important;}
	/*.botoes_floats.formato_2 .botoes_ .Vcenter{*/
		/*height: 40px;*/
	/*}*/
	.botoes_floats .botoes_ > div.xs12 .Vcenter{height: auto;}
	.botoes_floats.botoes_redondos .botoes_ > div{border-radius: 0;}
	.link_botao_whatsappfloat a span.txt{padding-left: 25px;line-height: 15px;font-size: 90%;
		/*word-wrap: anywhere;*/
		word-break: break-word;
	}

	.mobi{display: inline;}
	.desk{display: none;}
	.botoes_floats > div.box_mensagem{display: none!important;}

	/*.botoes_floats{
		left: 0!important;
		right: auto!important;
		bottom: 0!important;
		width: 100%;
		}*/
		/*.botoes_floats .Vcenter{margin: 0 auto;width: auto;}*/
		.botoes_floats .botoes_ > div{
			/*right: auto!important;*/
			/*left: 0!important;*/
			width: 100%!important;
			margin-right: 0!important;
			border-radius: 0!important;
			margin-left: 0!important;
			text-align: center;
			margin-top: 0;
			transform: translateX(0)!important; -webkit-transform: translateX(0)!important; -moz-transform: translateX(0)!important; -ms-transform: translateX(0)!important; -o-transform: translateX(0)!important;
		}

		.botoes_floats.formato_1 .botoes_ > div{clear: none;}
		.botoes_floats.formato_1 .botoes_ > div.xs12{padding: 12.5px!important;}
		.botoes_floats .botoes_ > div.xs12{width: 100%!important;}
		.botoes_floats .botoes_ > div.xs11{width: 91.666666%!important;} .botoes_floats .botoes_ > div.xs10{width: 83.333333%!important;} .botoes_floats .botoes_ > div.xs9{width: 75%!important;} .botoes_floats .botoes_ > div.xs8{width: 66.666666%!important;} .botoes_floats .botoes_ > div.xs7{width: 58.333333%!important;}
		.botoes_floats .botoes_ > div.xs6{width: 50%!important;} .botoes_floats .botoes_ > div.xs4{width: 33.333333%!important;} .botoes_floats .botoes_ > div.xs3{width: 25%!important;} .botoes_floats .botoes_ > div.xs2{width: 16.666666%!important;} .botoes_floats .botoes_ > div.xs1{width: 8.333333%!important;}

		.botoes_floats{
			width: 100%!important;
			/*float: left!important;*/
			bottom: 0!important;
		}

		.botoes_floats .botoes_ > div.lateral_active{position: absolute;right: 0;bottom: 0;}
		.formato_1.botoes_floats .botoes_ > div.lateral_active{
			width: auto!important;
			right: 35px;
			transform: translateX(100%)!important; -webkit-transform: translateX(100%)!important; -moz-transform: translateX(100%)!important; -ms-transform: translateX(100%)!important; -o-transform: translateX(100%)!important;
		}
		.horizontal_left.formato_1.botoes_floats .botoes_ > div.lateral_active{
			left: 35px;
			right: auto;
			transform: translateX(-100%)!important; -webkit-transform: translateX(-100%)!important; -moz-transform: translateX(-100%)!important; -ms-transform: translateX(-100%)!important; -o-transform: translateX(-100%)!important;
		}
		.formato_1.botoes_floats .botoes_ > div.lateral_active:hover{right: 0;left: auto; transform: translateX(0)!important; -webkit-transform: translateX(0)!important; -moz-transform: translateX(0)!important; -ms-transform: translateX(0)!important; -o-transform: translateX(0)!important;}
		.horizontal_left.formato_1.botoes_floats .botoes_ > div.lateral_active:hover{left: 0;right: auto;}

		.formato_2.botoes_floats .botoes_ > div.lateral_active{
			right: 0;
			width: 100px!important;
		}
		.horizontal_left.formato_2.botoes_floats .botoes_ > div.lateral_active{
			left: 0;
			width: 100px!important;
		}

		.botoes_floats.formato_mobile_aolado .botoes_ > div{float: left!important;}
		.formato_mobile_aolado{text-align: center;}
		.formato_mobile_aolado .botoes_ > div a, .formato_mobile_aolado .botoes_ > div .link_click{display: inline-grid;}
		.formato_mobile_aolado .botoes_ > div a span.txt, .formato_mobile_aolado .botoes_ > div .link_click span.txt{display: none;}
		.formato_mobile_aolado .botoes_ > div a .fa, .formato_mobile_aolado .botoes_ > div .link_click .fa{position: relative;top: 0;margin-top: 0;font-size: 200%;}
		.formato_mobile_aolado .botoes_quant_2 > div{width: 50%!important;} .formato_mobile_aolado .botoes_quant_3 > div{width: 33.333333%!important;} .formato_mobile_aolado .botoes_quant_4 > div{width: 25%!important;} .formato_mobile_aolado .botoes_quant_5 > div{width: 20%!important;}
		.formato_mobile_aolado .botoes_quant_6 > div{width: 16.666666%!important;} .formato_mobile_aolado .botoes_quant_7 > div{width: 14.285714%!important;} .formato_mobile_aolado .botoes_quant_8 > div{width: 12.5%!important;} .formato_mobile_aolado .botoes_quant_9 > div{width: 11.111111%!important;} .formato_mobile_aolado .botoes_quant_10 > div{width: 20%!important;}
		.botoes_floats.formato_mobile_aolado .botoes_ > div .img_icone{max-width: 25px;max-height: 25px;transform: translateY(0); -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0);}
	}
	@media(max-width: 350px){
		/*.link_botao_whatsappfloat.bot_top, .link_botao_whatsappfloat.bot_top + div{width: 100%;}*/
	}