{% set popup = __SELF__.popup %}

<!-- {% if popup.enabled %}
	{% endif %} -->

{% if popup.title %}
	<div id="floatpopup">
		{% if popup.link and popup.link != '' %} <a href="{{ popup.link }}" target="{{popup.target}}" title="{{ popup.title }}"> {% endif %}
			<img src="{{ popup.image|media }}" alt="{{ popup.title }}"/>
		{% if popup.link and popup.link != '' %} </a> {% endif %}
	</div>

	<!-- Load Script -->
	{% put scripts %}

	<style>
	#floatpopup {display: none;}
	#floatpopup_wrapper{height: 100%;width: 100%;top: 0;left: 0;}
	#floatpopup {display: none;height: 90%;max-width: 90%;}
	#floatpopup .popup_close{
		position: absolute;
		right: -14px;
		top: -14px;
		border-radius: 100%;
		height: auto;
		width: auto;
		padding: 4px 8px;
		line-height: 19px;
		background: white;
		font-size: 125%;
		font-weight: bold;
	}
	#floatpopup_wrapper img{position: relative;max-height: 100%;max-width: 100%;}
	.floatpopup a{float: left;}
</style>

<!-- Manual: https://dev.vast.com/jquery-popup-overlay/ -->
<script src="{{ url('/') }}/plugins/diveramkt/floatingbanner/assets/vendor/jquery-popup-overlay/jquery.popupoverlay.js"></script>
<!-- Manual: https://github.com/js-cookie/js-cookie -->
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

<script type="text/javascript">
	$(document).ready(function(){
	    	// if (!Cookies.get('floatpopup')) {
		        // Initialize the plugin
		        $('#floatpopup').popup({
		        	pagecontainer: '#wrapper',
		        	autoopen: true,
		        	escape: false,
		        	closebutton: true
		        });

		        Cookies.set('floatpopup', 'popup', { expires: 7 });
			// }
		});
	</script>
	{% endput %}
	{% endif %}