{% set popup = __SELF__.popup %}

<!-- {% if popup.enabled %} -->
<!-- {% endif %} -->


	<div id="floatpopup">
		<a href="{{ popup.link }}" title="{{ popup.title }}">
			<img src="{{ popup.image|media }}" alt="{{ popup.title }}"/>
		</a>
	</div>

	<!-- Load Script -->
	{% put scripts %}

	<style>
		#floatpopup {
			display: none;
		}
	</style>
	
	<!-- Manual: https://dev.vast.com/jquery-popup-overlay/ -->
	<script src="{{ url('/') }}/plugins/diveramkt/floatingbanner/assets/vendor/jquery-popup-overlay/jquery.popupoverlay.js"></script>
	<!-- Manual: https://github.com/js-cookie/js-cookie -->
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

	<script type="text/javascript">
	    $(document).ready(function(){

	    	if (!Cookies.get('floatpopup')) {
		        // Initialize the plugin
		      	$('#floatpopup').popup({
					pagecontainer: '#wrapper',
					autoopen: true,
					escape: false,
					closebutton: true
				});

				Cookies.set('floatpopup', 'popup', { expires: 7 });
			}
	    });
	</script>
	{% endput %}