subject = "Obrigado pelo seu contato"
layout = "default"
description = "Resposta automática do Whatsapp Float"
==
Agradecemos a sua mensagem! Já recebemos seu contato e retornaremos o mais rápido possível.
Se quiser acrescentar com alguma informação fique a vontade em responder esse email.
Até já!
==
<p>Agradecemos a sua mensagem! Já recebemos seu contato e retornaremos o mais rápido possível.</p>
<p>Se quiser acrescentar com alguma informação fique a vontade em responder esse email.</p>
<p><b>Até já!</b></p>