.icone_image{
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain; -webkit-background-size: contain; -moz-background-size: contain; -ms-background-size: contain; -o-background-size: contain;
	width: 20px; height: 20px;
	display: inline-block;
}

.botoes_floats.formato_1 .icone_image{
	float: left;
	position: absolute;
	left: 0;
	top: 0;
}
.botoes_floats.formato_3 .icone_image, .botoes_floats.formato_4 .icone_image{
	position: relative;
	min-width: 50px; min-height: 50px;
	float: left;
}

/*SETA PONTOS CADEAIS*/
.seta_base{ display: inline-block; vertical-align: middle; margin-right: 10px; width: 0; height: 0; }
.seta_base_esquerda{ border-top: 5px solid transparent; border-bottom: 5px solid transparent; border-right: 5px solid blue; }
.seta_base_direita{ border-top: 5px solid transparent; border-bottom: 5px solid transparent; border-left: 5px solid #3576BA; }
.seta_base_cima{ border-left: 5px solid transparent; border-right: 5px solid transparent; border-bottom: 5px solid black;}
.seta_base_baixo{ border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #f00; }

/*SETA DIAGONAIS*/
.diagonal_seta{ border: solid 40px transparent; width: 0; height: 0; display: inline-block; }
.bottom_right { border-right: none; border-top: none; border-bottom: solid 40px #888; }
.bottom_left { border-left: solid 40px #555; border-bottom: solid 40px #555; }
.top_right { border-right: solid 40px #555; border-top: solid 40px #555; }
.top_left { border-left: solid 40px #888; border-top: solid 40px #888; }

.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}

.esconder_alvo{
	opacity: 0;
	transform: scale(0);-webkit-transform: scale(0);-moz-transform: scale(0);-ms-transform: scale(0);-o-transform: scale(0);
}
.esconder_alvo.mostrar_alvo{
	opacity: 1;
	transform: scale(1);-webkit-transform: scale(1);-moz-transform: scale(1);-ms-transform: scale(1);-o-transform: scale(1);
}

.modal_form_float .fundo, .modal_form_float, .modal_form_float .Vcenter, .botoes_floats.formato_1 .botoes_ > div, .esconder_alvo,
.botoes_floats.formato_2 .botoes_ > div{
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

.botoes_floats.formato_3 .botoes_ .Vcenter .txt, .botoes_floats.formato_4 .botoes_ .Vcenter .txt{display: none!important;}
.botoes_floats.formato_3, .botoes_floats.formato_4{padding-right: 15px;padding-left: 15px;}
.botoes_floats.formato_3 .botoes_ .Vcenter i, .botoes_floats.formato_4 .botoes_ .Vcenter i{position: relative;font-size: 250%;display: inline;line-height: 45px;}
.botoes_floats.formato_3 .botoes_ > div, .botoes_floats.formato_4 .botoes_ > div{padding: 12px;width: 75px;height: 75px;display: inline-block;}
.botoes_floats.formato_3 .botoes_ .center_link, .botoes_floats.formato_4 .botoes_ .center_link{text-align: center;width: 50px;height: 50px;}
/*, .botoes_floats.formato_3 .blocos*/
.botoes_floats.formato_3 .botoes_ > div+div, .botoes_floats.formato_4 .botoes_ > div+div{margin-top: 10px;}

.botoes_floats.formato_4, .botoes_floats.formato_4.botoes_redondos .botoes_ > div{border-radius: 0;}
.botoes_floats.formato_4 .botoes_ > div{
	padding: 0;
	background-color: unset;
}

.botoes_floats.formato_4 .botoes_ > div.link_botao_whatsappfloat{
}

/*.botoes_floats.formato_3 .botoes_>.link_botao_whatsappfloat{
	padding: 0;
	background-color: unset!important;
}
.botoes_floats.formato_3 .link_botao_whatsappfloat a{
	position: relative;
	float: left;
	background-image: url('../../assets/images/icone-whatsapp.png');
	padding: 35px;
	background-size: contain;
	}*/

	.botoes_floats {
		position: fixed;
		/*right: 10px;*/
		right: 0;
		bottom: 10px;
		z-index: 100;
		display: block!important;
		height: auto;
	}
	.botoes_floats label.link_click{margin-bottom: 0;}
	.botoes_floats label{cursor: pointer;}
	/*.botoes_floats .botoes_ {position: relative;float: left;width: 100%;}*/

	.botoes_floats .botoes_ > div, .botoes_floats .blocos{
		position: relative;
		display: table;
		background: #0DC152;
		width: 100%;
		padding: 10px 15px;
		/*border-radius: 15px;*/
	}
	.botoes_floats.botoes_redondos .botoes_ > div{border-radius: 15px 0 0 15px;}
	.botoes_floats.formato_3.botoes_redondos .botoes_ > div{
		/*border-radius: 15px;*/
		border-radius: 50%;
	}
	.botoes_floats.botoes_quadrados .botoes_ > div{border-radius: 0;}
	.botoes_floats .botoes_ > div{margin-top: 2px;}
	/*.botoes_floats .botoes_mult{}*/
	/*.botoes_floats .botoes_mult > div:first-child{border-bottom-left-radius: 0;border-bottom-right-radius: 0;}*/
	/*.botoes_floats .botoes_mult > div+div{border-radius: 0;}*/
	/*.botoes_floats .botoes_mult > div:last-child{border-radius: 0 0 15px 15px;}*/

	.icone_back{
		height: 30px;
		width: 30px;
		background-size: cover!important;
		background-position: center!important;
	}
	.botoes_floats .botoes_ > div a .img_icone{
		/*filter: brightness(0) invert(1);*/
		/*-webkit-filter: brightness(0) invert(1);*/
		/*-moz-filter: brightness(0) invert(1);*/
		/*-ms-filter: brightness(0) invert(1);*/
		/*-o-filter: brightness(0) invert(1);*/
		max-width: 100%;

		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		margin-top: 0;
	}
	.botoes_floats.formato_1 .botoes_ > div a .img_icone, .botoes_floats.formato_2 .botoes_ > div a .img_icone{
		max-width: 20px;
		max-height: 20px;
	}

	@keyframes animate_balao {
		0% { bottom: 0; }
		40% { bottom: 0; opacity: 0;}
		48% { bottom: 105%; opacity: 1 }
		50% { bottom: 100%; opacity: 1 }
		90% { bottom: 100%; opacity: 1;}
		100% { bottom: 0; }
	}
	.botoes_floats > div.box_mensagem{
		position: absolute;
		/*right: 10px;*/
		right: 0;
		bottom: 100%;
		width: auto;
		margin-bottom: 25px;
		border-radius: 10px;
		padding: 10px;

	/*bottom: 0;
	opacity: 0;
	animation: animate_balao 10s infinite ease-in-out;*/
}
.botoes_floats > div.box_mensagem .seta_base_baixo{
	position: absolute;
	top: 100%;
	right: 10px;
	border-left-width: 15px;
	border-right-width: 15px;
	border-top-width: 15px;
	border-top-color: #0DC152;
}
.botoes_floats .foto_mensagem img{max-width: 100%;}
.botoes_floats .foto_mensagem{
	position: relative;
	/*float: left;*/
	width: 60px;
	height: 60px;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 50px;

	position: absolute;
	left: 50%;
	top: 0;
	margin-top: -30px;
	margin-left: -30px;
}
.botoes_floats .box_mensagem p{margin-bottom: 0;color: white;font-size: 100%;line-height: 18px;text-align: center;}
.botoes_floats .texto_mensagem{
	position: relative;
	max-width: 150px;
	min-width: 75px;
	float: right;
}
.botoes_floats .texto_mensagem .Vcenter{position: relative;width: 100%;height: 50px;}
.botoes_floats .foto_mensagem+.texto_mensagem{
	/*padding-left: 10px;*/
	width: 100px;
	margin-top: 20px;
}



.formato_4 .link_botao_whatsappfloat{background: none!important;}
.link_botao_whatsappfloat .center_link a, .link_botao_whatsappfloat .center_link a span,
.link_botao_whatsappfloat .center_link .link_click, .link_botao_whatsappfloat .center_link .link_click span{
	float: left;
	bottom: 0;
	color: white;
	width: 100%;
}
.link_botao_whatsappfloat a span, .link_botao_whatsappfloat .link_click span{color: white;}
/*.botoes_floats > .bot_top{border-radius: 15px 15px 0 0;}*/

.link_botao_whatsappfloat a span.txt, .link_botao_whatsappfloat .link_click span.txt{
	position: relative;
	padding-left: 35px;
	line-height: 20px;
	font-weight: normal;

	display: flex; -webkit-display: flex; -moz-display: flex; -ms-display: flex; -o-display: flex;
	flex-wrap: wrap; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; -o-flex-wrap: wrap;
	align-items: center; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; -o-align-items: center;
	justify-content: center; -webkit-justify-content: center; -moz-justify-content: center; -ms-justify-content: center; -o-justify-content: center;
	height: 100%;
}
/*.link_botao_whatsappfloat a .fa, .link_botao_whatsappfloat a .fab,
.link_botao_whatsappfloat .link_click .fa, .link_botao_whatsappfloat .link_click .fab{*/
	.link_botao_whatsappfloat a>i{
		position: absolute;
		left: 0;
		top: 50%;
		/*margin-top: -10.5px;*/
		transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%);
		/*margin-top: -7.5px;*/
		color: white;font-size: 135%;
		margin-right: 0;
		min-width: 15px;
		text-align: center;
	}
/*.link_botao_whatsappfloat .abrir_link{display: none;}*/
.link_botao_whatsappfloat .abrir_link{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: none;
	display: block;
}

.mobi{display: none;}
.botoes_floats .Vcenter{position: relative;display: table;height: 100%;width: 100%;}
.botoes_floats .Vcenter>div:first-child{
	position: relative;display: table-cell;vertical-align: middle;margin-top: 50%;
	#margin-top: 0;#float: left;#width: 100%;/*EXPLORER*/
}
.botoes_floats label.Vcenter{margin-bottom: 0;font-weight: normal;}


.modal_form_float .fundo{background: black;opacity: 0;}
.modal_form_float.modal_visivel .fundo{opacity: 0.5;}
.modal_form_float{
	position: fixed;
	right: 100%;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	visibility: hidden;
	opacity: 0;
	z-index: 9;
	display: none;
	background: rgba(0,0,0,0.75);
}
.modal_form_float.modal_visivel{visibility: visible;opacity: 1;}

.modal_form_float .Vcenter{
	width: 90%;max-width: 400px;margin: 0 auto;opacity: 0;
	transform: scale(0);-webkit-transform: scale(0);-moz-transform: scale(0);-ms-transform: scale(0);-o-transform: scale(0);
}
.modal_form_float.modal_visivel .Vcenter{opacity: 1;transform: scale(1);-webkit-transform: scale(1);-moz-transform: scale(1);-ms-transform: scale(1);-o-transform: scale(1);}

.modal_form_float .blocos{
	/*background: black;*/
	/*padding: 20px;*/
	/*padding: 30px 40px;*/
	/*border-radius: 5px;*/
	padding: 40px 50px;
	border-radius: 5px;
}

.modal_form_float .titulo_, .modal_form_float .txt_{
	position: relative;
	margin: 0;
	margin-bottom: 10px;
	color: white;
	line-height: 30px;
	/*text-align: center;*/
}
.modal_form_float .txt_{line-height: 20px;font-weight: 100;}

.modal_form_float .div_input_loading{margin-top: 5px;padding-top: 5px;}
.modal_form_float label{width: 100%;color: white;}
.modal_form_float label p{color: white;margin-bottom: 0;}
.modal_form_float input, .modal_form_float textarea, .modal_form_float .input_label label{
	width: 100%;
	padding: 5px;
	font-weight: normal;
	float: left;
	color: black;
	/*border-radius: 2.5px;*/
	padding: 5px 10px;
	border-radius: 2px;
	border: none!important;
	background: white;
}

.modal_form_float .div_input_loading button .fa{position: relative;color: black;}
.modal_form_float .div_input_loading button{padding: 14px 30px;color: black!important;}
.modal_form_float .fa-close, .link_fechar, .modal_form_float .fa-close:hover, .link_fechar:hover{
	position: absolute;
	right: -7.5px;
	top: -7.5px;
	float: right;
	height: 22px;
	padding: 2px 5px;
	border: solid white 1px;
	border-radius: 50%;
	color: white;
	background: black;
	font: normal normal normal 14px/1 FontAwesome!important;
}
.horizontal_right .box_mensagem .link_fechar{
	left: -7.5px;
	right: auto;
}

.modal_form_float .div_input_loading{position: relative;display: table;margin: 0 auto;outline-color: solid red 1px;}
/*.modal_form_float .div_input_loading .oc-loading, .loading_select .oc-loading{
	position: absolute;
	right: 5px;
	top: 50%;
	margin-top: -11.5px;
	color: white;
	z-index: 9999;
}
.loading_select .oc-loading{color: black;right: 8px;}*/

.modal_form_float .div_input_loading .oc-loading{
	cursor: progress;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	margin-top: 0;
}
.modal_form_float .div_input_loading .oc-loading:after{
	position: absolute;
	right: 5px;
	top: 50%;
	margin-top: -8px;
	color: black;
	z-index: 9;
}
.modal_form_float .div_input_loading > *{position: relative;}


.modal_form_float .div_input_loading .oc-loading{cursor: progress;}
.modal_form_float .div_input_loading:hover .oc-loading{color: white;}
.modal_form_float .oc-loading, .modal_form_float .div_input_loading:hover .oc-loading{color: black;}

.stripe-loading-indicator{z-index: 99999;}

.botoes_floats.horizontal_left{left: 0;right: auto;}
.botoes_floats.horizontal_left > div.box_mensagem{left: 0;right: auto;}
.botoes_floats.horizontal_left > div.box_mensagem .seta_base_baixo{left: 10px;right: auto;}
.horizontal_left.botoes_floats.botoes_redondos .botoes_ > div{
	/*border-radius: 0 15px 15px 0;*/
	border-radius: 15px;
}

/*/////////////////FORMATO 1*/
/*.botoes_floats_tamanho_2*/
.botoes_floats.formato_1{
	/*left: 100%;right: auto;*/
	/*left: 100%;*/
	width: 0;
}
.botoes_floats.formato_1 > div.box_mensagem{
	/*right: 100%;*/
}
.botoes_floats.formato_1 .botoes_ > div{
	white-space: nowrap;
	/*right: 45px;*/
	/*margin-left: -45px;*/
	/*right: -100%;*/
	margin-right: 50px;
	width: auto;
	float: right;
	clear: both;
	transform: translateX(100%); -webkit-transform: translateX(100%); -moz-transform: translateX(100%); -ms-transform: translateX(100%); -o-transform: translateX(100%);
}

.botoes_floats.formato_1.horizontal_left > div.box_mensagem{left: 0;}
.botoes_floats.formato_1.horizontal_left .botoes_ > div{
	margin-left: 45px;
	margin-right: 0;
	transform: translateX(-100%); -webkit-transform: translateX(-100%); -moz-transform: translateX(-100%); -ms-transform: translateX(-100%); -o-transform: translateX(-100%);
	float: left;
}

.botoes_floats.formato_1.horizontal_left .link_botao_whatsappfloat .center_link .fa,.botoes_floats.formato_1.horizontal_left .link_botao_whatsappfloat .center_link .fab{
	right: 0;
	left: auto;
}
.link_botao_whatsappfloat a span.txt, .link_botao_whatsappfloat .link_click span.txt{text-align: left;}
/*.botoes_floats.formato_1.horizontal_left .link_botao_whatsappfloat a span.txt,*/
/*.botoes_floats.formato_1.horizontal_left .link_botao_whatsappfloat .link_click span.txt*/
.botoes_floats.formato_1.horizontal_left span.txt{padding-right: 30px;padding-left: 0;text-align: right;}
.formato_1.horizontal_left .link_botao_whatsappfloat a,.formato_1.horizontal_left .link_botao_whatsappfloat a span,
.formato_1.horizontal_left .link_botao_whatsappfloat .link_click,.formato_1.horizontal_left .link_botao_whatsappfloat .link_click span{
	float: right;
}

/*///////////TAMANHO 2*/
.botoes_floats.formato_1.botoes_floats_tamanho_2 a>i{font-size: 250%;}
.botoes_floats.formato_1.botoes_floats_tamanho_2 span.txt{ font-size: 125%; }
.botoes_floats.formato_1.botoes_floats_tamanho_2 span.txt span{font-size: 100%;}
.botoes_floats.formato_1.botoes_floats_tamanho_2 .link_botao_whatsappfloat a{height: 40px;}
.botoes_floats.formato_1.botoes_floats_tamanho_2 a>i{min-width: 45px;}
.botoes_floats.formato_1.horizontal_left.botoes_floats_tamanho_2 span.txt{ padding-right: 55px; }
.botoes_floats.formato_1.botoes_floats_tamanho_2 span.txt{ padding-left: 55px; }
.botoes_floats.formato_1.botoes_floats_tamanho_2 span.txt span{ font-size: 100%; }
.botoes_floats.formato_1.botoes_floats_tamanho_2 .botoes_ > div{margin-right: 70px;}
.botoes_floats.formato_1.horizontal_left.botoes_floats_tamanho_2 .botoes_ > div{margin-left: 70px;}
/*///////////TAMANHO 2*/

/*///////////TAMANHO 3*/
.botoes_floats.formato_1.botoes_floats_tamanho_3 a>i{font-size: 350%;}
.botoes_floats.formato_1.botoes_floats_tamanho_3 span.txt{ font-size: 150%; }
.botoes_floats.formato_1.botoes_floats_tamanho_3 span.txt span{font-size: 100%;}
.botoes_floats.formato_1.botoes_floats_tamanho_3 .link_botao_whatsappfloat a{height: 60px;}
.botoes_floats.formato_1.botoes_floats_tamanho_3 a>i{min-width: 60px;position: relative;}
.botoes_floats.formato_1.horizontal_left.botoes_floats_tamanho_3 span.txt{ padding-right: 70px; }
.botoes_floats.formato_1.botoes_floats_tamanho_3 span.txt{ padding-left: 70px; }
.botoes_floats.formato_1.botoes_floats_tamanho_3 span.txt span{font-size: 100%;}
.botoes_floats.formato_1.botoes_floats_tamanho_3 .botoes_ > div{margin-right: 85px;}
.botoes_floats.formato_1.horizontal_left.botoes_floats_tamanho_3 .botoes_ > div{margin-left: 85px;}
/*///////////TAMANHO 3*/

.botoes_floats.formato_1 .botoes_ > div:hover, .botoes_floats.formato_1.horizontal_left .botoes_ > div:hover{
	right: 0;
	margin-left: 0;
	margin-right: 0;
	transform: translateX(0%); -webkit-transform: translateX(0%); -moz-transform: translateX(0%); -ms-transform: translateX(0%); -o-transform: translateX(0%);
}
/*/////////////////FORMATO 1*/

/*/////////////////FORMATO 2*/
.botoes_floats.formato_2 .link_botao_whatsappfloat .center_link .fa, .botoes_floats.formato_2 .link_botao_whatsappfloat .center_link .fab{
	position: relative;left: 0;top: 0;text-align: center;width: 100%;margin-bottom: 5px;
	transform: translateY(0); -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0);
}
.botoes_floats.formato_2 .botoes_ > div{width: 90px;display: block;padding: 5px 0;}
.botoes_floats.formato_2.horizontal_right .botoes_ > div:hover{padding-right: 10px;width: 100px;margin-left: -10px;}
.botoes_floats.formato_2.horizontal_left .botoes_ > div:hover{width: 100px;margin-right: -10px;padding-left: 10px;}

.botoes_floats.formato_2 .botoes_ .Vcenter{min-height: 60px;}
.botoes_floats.formato_2 .link_botao_whatsappfloat .center_link a, .botoes_floats.formato_2 .link_botao_whatsappfloat .center_link .link_click{width: 100%;}
.botoes_floats.formato_2 .link_botao_whatsappfloat a, .botoes_floats.formato_2 .link_botao_whatsappfloat .link_click{text-align: center;}
.botoes_floats.formato_2 a span.txt{padding: 5px;text-align: center;font-size: 70%;width: 100%;line-height: 10px;}
.botoes_floats.formato_2 .botoes_ > div a .img_icone, .botoes_floats.formato_2 .botoes_ > div .link_click .img_icone{
	position: relative;
	top: 0;
	transform: translateY(0); -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0);
	margin: 0 auto;
	float: none;
}
.botoes_floats span.txt span{font-size: 100%;}

/*///////////TAMANHO 2*/
.botoes_floats.botoes_floats_tamanho_2 a>i{font-size: 200%;}
.botoes_floats.botoes_floats_tamanho_2 span.txt, .botoes_floats.botoes_floats_tamanho_2.formato_2 span.txt{ font-size: 100%; }
.botoes_floats.botoes_floats_tamanho_2 span.txt span{font-size: 100%;}
.botoes_floats.formato_2.botoes_floats_tamanho_2 span.txt{line-height: initial;}
.botoes_floats.formato_2.botoes_floats_tamanho_2 .botoes_ > div{width: 170px;padding: 20px 0;}
.botoes_floats.formato_2.botoes_floats_tamanho_2.horizontal_right .botoes_ > div:hover{padding-right: 10px;width: 180px;margin-left: -10px;}
.botoes_floats.formato_2.botoes_floats_tamanho_2.horizontal_left .botoes_ > div:hover{width: 180px;margin-right: -10px;padding-left: 10px;}
/*///////////TAMANHO 2*/

/*///////////TAMANHO 3*/
.botoes_floats.botoes_floats_tamanho_3 a>i{font-size: 350%;}
.botoes_floats.botoes_floats_tamanho_3 span.txt, .botoes_floats.botoes_floats_tamanho_3.formato_2 span.txt{ font-size: 150%; }
.botoes_floats.botoes_floats_tamanho_3 span.txt span{font-size: 100%;}
.botoes_floats.formato_2.botoes_floats_tamanho_3 span.txt{line-height: initial;}
.botoes_floats.formato_2.botoes_floats_tamanho_3 .botoes_ > div{width: 180px;padding: 20px 0;}
.botoes_floats.formato_2.botoes_floats_tamanho_3.horizontal_right .botoes_ > div:hover{padding-right: 10px;width: 190px;margin-left: -10px;}
.botoes_floats.formato_2.botoes_floats_tamanho_3.horizontal_left .botoes_ > div:hover{width: 190px;margin-right: -10px;padding-left: 10px;}
/*///////////TAMANHO 3*/

/*/////////////////FORMATO 2*/


.botoes_floats .input_label{position: relative;width: 100%;display: block;float: left;margin-bottom: 10px;}
.botoes_floats .input_label label{
	position: absolute;
	left: 0;
	top: 0;
	color: #333;
	font-weight: normal;
	background: none!important;
	border: none!important;
	/*height: auto!important;*/
	top: 0;
	box-shadow: none;
	cursor: text;
	width: auto;
	height: 100%;
	/*line-height: 28px;*/
}
.botoes_floats .input_label textarea+label{top: 0;}
.botoes_floats .input_label input:focus+label, .botoes_floats .input_label textarea:focus+label{opacity: 0.5;}
.botoes_floats .input_label input:valid+label, .botoes_floats .input_label textarea:valid+label{display: none;}


/*.link_botao_whatsappfloat.visible_mobile_desktop*/
.link_botao_whatsappfloat.visible_mobile{display: none!important;}

/*.formato_mobile_aolado .botoes_ .Vcenter{height: unset!important;}*/
#mostrar_balao_form_whatsapp{display: none;}
.balao_form_whatsapp{
	/*display: none;*/
	visibility: hidden;
	position: absolute;
	right: 0;
	bottom: 100%;
	margin-bottom: 10px;
	width: 480px;
	/*max-width: 90%;*/
	overflow-y: auto;
}
.balao_form_whatsapp>div{
	position: relative;
	width: 100%;
	opacity: 0;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

#mostrar_balao_form_whatsapp:checked+.balao_form_whatsapp{visibility: visible;}
#mostrar_balao_form_whatsapp:checked+.balao_form_whatsapp>div{opacity: 1;}

.balao_form_whatsapp .head_form{
	position: relative;
	width: 100%;
	padding: 10px 15px;
	background: rgb(11,97,86);
}
.balao_form_whatsapp .head_form .icone_logo{
	background: white;
	float: left;
	padding: 5px;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	overflow: hidden;
	text-align: center;
	margin-right: 15px;
}
.balao_form_whatsapp .head_form .icone_logo img{max-width: 50px;max-height: 50px;}
.balao_form_whatsapp .head_form h3, .balao_form_whatsapp .head_form p{color: white;margin-bottom: 0;line-height: unset;}
.balao_form_whatsapp .head_form h3{font-size: 150%;}
.balao_form_whatsapp .head_form p{font-size: 100%;}
.balao_form_whatsapp .head_form label{position: absolute;right: 7px;top: 5px;height: 14px;margin: 0;line-height: 10px;}
.balao_form_whatsapp .head_form label i{color: white;}

.balao_form_whatsapp .cont_form{
	/*padding: 10px 15px;*/
	/*background: white;*/
	padding: 15px;
	background-color: #eee;
	background-image: linear-gradient(to bottom, rgba(233,224,215,1) 0%, rgba(233,224,215,1) 100%);
	background-repeat: repeat;
	background-position: center;
	background-size: cover;
}
.link_botao_whatsappfloat .balao_form_whatsapp .cont_form{background-image: url('imagens/fundo-whatsapp.png'), linear-gradient(to bottom, rgba(233,224,215,1) 0%, rgba(233,224,215,1) 100%);}
.balao_form_whatsapp .cont_form .msg{
	background: rgb(255,255,255);
	width: 80%;
	border-radius: 6px;
	padding: 10px;
	font-size: 100%;
	margin-bottom: 10px;
}
.balao_form_whatsapp .cont_form .msg p{margin-bottom: 0;line-height: unset;font-size: 100%;color: rgb(74, 74, 74);}

.balao_form_whatsapp .cont_form form{
	position: relative;
	width: 80%;
	float: right;
}
.balao_form_whatsapp .cont_form form >div, .balao_form_whatsapp .cont_form form input, .balao_form_whatsapp .cont_form form textarea{width: 100%;border: unset;}
.balao_form_whatsapp .cont_form form input, .balao_form_whatsapp .cont_form form textarea{
	background-color: #e7ffe7;
	border-radius: 6px;
	color: #4a4a4a;
}
.balao_form_whatsapp .cont_form form input, .balao_form_whatsapp .cont_form form textarea, .balao_form_whatsapp .cont_form form label{padding: 10px;}
.balao_form_whatsapp .cont_form button{
	background: rgb(11,97,86);
	color: white;
	padding: 8px 15px;
	font-size: 110%;
	border-radius: 6px;
	float: right;
	border: unset;
}

@media(max-width: 600px){

	.modal_form_float .fundo, .modal_form_float, .modal_form_float .Vcenter, .botoes_floats.formato_1 .botoes_ > div, .esconder_alvo,
	.botoes_floats.formato_2 .botoes_ > div, .balao_form_whatsapp>div{
		transition: unset!important; -webkit-transition: unset!important; -moz-transition: unset!important; -ms-transition: unset!important; -o-transition: unset!important;
	}
	.link_botao_whatsappfloat.visible_mobile{display: block!important;}
	.link_botao_whatsappfloat.visible_desktop{display: none!important;}

	.botoes_floats .botoes_ > div{float: left;white-space: normal!important;font-size: 90%;margin-top: 0;}

	.modal_form_float .blocos{padding: 20px 25px;}
	.botoes_floats .botoes_ > div{padding: 5px 10px;}
	.botoes_floats .botoes_ > div .Vcenter{height: 35px;width: auto;margin: 0 auto;min-height: 0!important;}
	.botoes_floats .botoes_ > div.xs12 .Vcenter{height: auto;}
	.botoes_floats.botoes_redondos .botoes_ > div{border-radius: 0;}
	.link_botao_whatsappfloat a{height: auto!important;}
	.link_botao_whatsappfloat a .fa{
		font-size: 300%!important;
		position: relative;
		top: 0; left: 0;
		transform: unset;
	}
	.link_botao_whatsappfloat a span.txt{padding-left: 25px;line-height: 15px;font-size: 90%;
		word-break: break-word;
	}

	.mobi{display: inline;}
	.desk{display: none;}
	.botoes_floats > div.box_mensagem{display: none!important;}

	.botoes_floats .botoes_ > div{
		width: 100%!important;
		margin-right: 0!important;
		border-radius: 0!important;
		margin-left: 0!important;
		text-align: center;
		margin-top: 0;
		transform: translateX(0)!important; -webkit-transform: translateX(0)!important; -moz-transform: translateX(0)!important; -ms-transform: translateX(0)!important; -o-transform: translateX(0)!important;
	}
	.botoes_floats.formato_3 .botoes_ > div{border-radius: 50%!important;}

	.botoes_floats.formato_1 .botoes_ > div{clear: none;float: left;}
	.botoes_floats.formato_1 .botoes_ > div.xs12{padding: 6px 12.5px!important;}
	.botoes_floats .botoes_ > div.xs12{width: 100%!important;}
	.botoes_floats.formato_3 .botoes_ > div, .botoes_floats.formato_4 .botoes_ > div{width: 75px!important;height: 75px!important;padding: 0;}
	.botoes_floats.formato_3 .botoes_ .Vcenter, .botoes_floats.formato_4 .botoes_ .Vcenter{ width: 75px!important; height: 75px!important; }
	.botoes_floats .botoes_ > div.xs11{width: 91.666666%!important;} .botoes_floats .botoes_ > div.xs10{width: 83.333333%!important;} .botoes_floats .botoes_ > div.xs9{width: 75%!important;} .botoes_floats .botoes_ > div.xs8{width: 66.666666%!important;} .botoes_floats .botoes_ > div.xs7{width: 58.333333%!important;}
	.botoes_floats .botoes_ > div.xs6{width: 50%!important;} .botoes_floats .botoes_ > div.xs4{width: 33.333333%!important;} .botoes_floats .botoes_ > div.xs3{width: 25%!important;} .botoes_floats .botoes_ > div.xs2{width: 16.666666%!important;} .botoes_floats .botoes_ > div.xs1{width: 8.333333%!important;}

	.botoes_floats.formato_1, .botoes_floats.formato_2{width: 100%!important;bottom: 0!important;}

	.botoes_floats .botoes_ > div.lateral_active{position: absolute;right: 0;bottom: 0;}
	.formato_1.botoes_floats .botoes_ > div.lateral_active{
		width: auto!important;
		right: 35px;
		transform: translateX(100%)!important; -webkit-transform: translateX(100%)!important; -moz-transform: translateX(100%)!important; -ms-transform: translateX(100%)!important; -o-transform: translateX(100%)!important;
	}
	.horizontal_left.formato_1.botoes_floats .botoes_ > div.lateral_active{
		left: 35px;
		right: auto;
		transform: translateX(-100%)!important; -webkit-transform: translateX(-100%)!important; -moz-transform: translateX(-100%)!important; -ms-transform: translateX(-100%)!important; -o-transform: translateX(-100%)!important;
	}
	.formato_1.botoes_floats .botoes_ > div.lateral_active:hover{right: 0;left: auto; transform: translateX(0)!important; -webkit-transform: translateX(0)!important; -moz-transform: translateX(0)!important; -ms-transform: translateX(0)!important; -o-transform: translateX(0)!important;}
	.horizontal_left.formato_1.botoes_floats .botoes_ > div.lateral_active:hover{left: 0;right: auto;}

	.formato_2.botoes_floats .botoes_ > div.lateral_active{
		right: 0;
		width: 100px!important;
	}
	.horizontal_left.formato_2.botoes_floats .botoes_ > div.lateral_active{
		left: 0;
		width: 100px!important;
	}

	.botoes_floats.formato_mobile_aolado .botoes_ > div{float: left!important;}
	.formato_mobile_aolado{text-align: center;}
	.formato_mobile_aolado .botoes_ > div a, .formato_mobile_aolado .botoes_ > div .link_click{display: inline-grid;}

	.legendas_mobile_nao span.txt{display: none;}
	/*.formato_mobile_aolado .botoes_ .Vcenter{height: 50px!important;}*/
	.legendas_mobile_sim .botoes_ .Vcenter{height: 50px!important;}
	.legendas_mobile_sim .botoes_.botoes_quant_mobile_1 .Vcenter, .legendas_mobile_sim .botoes_.botoes_quant_mobile_2 .Vcenter, .legendas_mobile_nao .botoes_ .Vcenter{height: 50px!important;}
	.formato_mobile_aolado .botoes_ > div a span.txt, .formato_mobile_aolado .botoes_ > div .link_click span.txt{
		/*display: none;*/
		padding-left: 0;
		font-size: 75%;
		/*white-space: nowrap;*/
		width: 100%;
		overflow: hidden;
		line-height: 10px;
		margin-top: 6px;
		text-align: center;
		max-height: 20px;
	}
	.botoes_floats .botoes_ > div a span.txt, .botoes_floats .botoes_ > div .link_click span.txt{
		display: none;
	}
	.botoes_floats.legendas_mobile_sim .botoes_ > div a span.txt, .botoes_floats.legendas_mobile_sim .botoes_ > div .link_click span.txt{
		display: block;
	}

	.formato_mobile_aolado .botoes_ > div a .fa, .formato_mobile_aolado .botoes_ > div .link_click .fa{position: relative;top: 0;margin-top: 0;font-size: 200%;transform: none;}
	.formato_mobile_aolado .botoes_quant_mobile_2 > div{width: 50%!important;} .formato_mobile_aolado .botoes_quant_mobile_3 > div{width: 33.333333%!important;} .formato_mobile_aolado .botoes_quant_mobile_4 > div{width: 25%!important;} .formato_mobile_aolado .botoes_quant_mobile_5 > div{width: 20%!important;}
	.formato_mobile_aolado .botoes_quant_mobile_6 > div{width: 16.666666%!important;} .formato_mobile_aolado .botoes_quant_mobile_7 > div{width: 14.285714%!important;} .formato_mobile_aolado .botoes_quant_mobile_8 > div{width: 12.5%!important;} .formato_mobile_aolado .botoes_quant_mobile_9 > div{width: 11.111111%!important;} .formato_mobile_aolado .botoes_quant_mobile_10 > div{width: 20%!important;}
	.botoes_floats.formato_mobile_aolado .botoes_ > div .img_icone{max-width: 25px;max-height: 25px;transform: translateY(0); -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0);}

	.botoes_floats.formato_2 .link_botao_whatsappfloat .center_link .fa, .botoes_floats.formato_2 .link_botao_whatsappfloat .center_link .fab{margin-bottom: 0;}

	.botoes_floats.formato_2.horizontal_left .botoes_ > div:hover, .botoes_floats.formato_2.horizontal_right .botoes_ > div:hover{
		margin-left: 0!important; margin-right: 0!important; padding-left: 0!important; padding-right: 0!important;
		margin-top: -5px;
		padding-bottom: 10px;
	}
	.botoes_floats.formato_2.botoes_floats_tamanho_2 .botoes_ > div:hover, .botoes_floats.formato_2.botoes_floats_tamanho_3 .botoes_ > div:hover{
		padding-bottom: 25px!important;
	}

	.botoes_floats_tamanho_2 a>i, .botoes_floats_tamanho_3 a>i{font-size: 300%!important;}
	.botoes_floats.botoes_floats_tamanho_2 .link_botao_whatsappfloat a, .botoes_floats.botoes_floats_tamanho_3 .link_botao_whatsappfloat a{height: 60px;}
	.botoes_floats_tamanho_2 a>span.txt, .botoes_floats_tamanho_3 a>span.txt{margin-top: 0!important; font-size: 100%!important;padding-right: 0!important;}
	.botoes_floats.botoes_floats_tamanho_2 span.txt, .botoes_floats.botoes_floats_tamanho_3 span.txt{height: 35px;padding: 0!important;}
	.botoes_floats.formato_3 .botoes_ > div+div, .botoes_floats.formato_4 .botoes_ > div+div{margin-top: 0;}

	.botoes_floats .botoes_{
		display: flex; -webkit-display: flex; -moz-display: flex; -ms-display: flex; -o-display: flex;
		flex-wrap: wrap; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; -o-flex-wrap: wrap;
	}
}

@media(max-width: 400px){
	.formato_mobile_aolado .botoes_ > div a span.txt, .formato_mobile_aolado .botoes_ > div .link_click span.txt{
		font-size: 65%;
	}
}
@media(max-width: 350px){
	/*.link_botao_whatsappfloat.bot_top, .link_botao_whatsappfloat.bot_top + div{width: 100%;}*/
}


.botoes_floats.none{display: none;}
/*none visible_576 visible_767 visible_991 visible_1200 visible_mais1200*/
@media(min-width: 1200px){
	.botoes_floats.none{display: none;}
	.botoes_floats.visible_mais1200{display: block;}
}
@media(max-width: 1200px){
	.botoes_floats.none{display: none;}
	.botoes_floats.visible_1200{display: block;}
}
@media(max-width: 991px){
	.botoes_floats.none{display: none;}
	.botoes_floats.visible_991{display: block;}
}
@media(max-width: 767px){
	.botoes_floats.none{display: none;}
	.botoes_floats.visible_767{display: block;}
}
@media(max-width: 576px){
	.botoes_floats.none{display: none;}
	.botoes_floats.visible_576{display: block;}
}
/* visible_767*/