{% set exitpopup = __SELF__.exitpopup %}

{% if exitpopup.enabled %}

<!--
	<div id="bio_ep_bg"></div>
	<div id="bio_ep">
	    <div id="bio_ep_close">X</div>
	    <a href="{{ exitpopup.link }}" title="{{ exitpopup.title }}">
			<img src="{{ exitpopup.image|media }}" alt="{{ exitpopup.title }}"/>
		</a>
	</div>
-->

<!-- Load Script -->
{% put scripts %}

{% set html_popexit='' %}
{% if exitpopup.link %} {% set html_popexit='<a href="'~exitpopup.link~'" target="'~exitpopup.target~'" title="'~exitpopup.title~'">' %} {% endif %}
	{% set html_popexit=html_popexit~'<img src="'~exitpopup.image|media~'" alt="'~exitpopup.title~'" />' %}
{% if exitpopup.link %} {% set html_popexit=html_popexit~'</a>' %} {% endif %}

<!-- Manual: http://beeker.io/exit-intent-popup-script-tutorial -->
<script src="{{ url('/') }}/plugins/diveramkt/floatingbanner/assets/vendor/beeker.io-exitpopup/bioep.min.js"></script>

<script type="text/javascript">
	if( navigator.userAgent.match(/Android/i)
		|| navigator.userAgent.match(/webOS/i)
		|| navigator.userAgent.match(/iPhone/i)
		|| navigator.userAgent.match(/iPad/i)
		|| navigator.userAgent.match(/iPod/i)
		|| navigator.userAgent.match(/BlackBerry/i)
		|| navigator.userAgent.match(/Windows Phone/i)) {

		bioEp.init({
			html: '{{html_popexit|raw}}',
			cookieExp: 0,
			delay: 1,
			showOnDelay: true,
			width: 800,
			height: 600,
		});

} else {

	bioEp.init({
		html: '{{html_popexit|raw}}',
		cookieExp: 1,
		delay: 1,
		showOnDelay: false,
		width: 800,
		height: 600,
	});

}


</script>

<style type="text/css">
#bio_ep{height: auto!important;max-width: 800px!important;width: auto!important;}
#bio_ep a{float: left;width: 100%;}
#bio_ep img{max-width: 100%;float: left;}
#bio_ep_close{
	font-family: 'open sans';
	border: solid #ae7f00 2px;
	color: #ae7f00!important;
	background: white!important;
	width: 25px!important;
	height: 25px!important;
	line-height: 21px;
	overflow: hidden;
	/*font: normal normal normal 14px/1 FontAwesome;*/
}
/*#bio_ep_close:before{content: "\f00d";float: left;margin-top: 4px;margin-left: 6px;margin-bottom: 10px;}*/
</style>

{% endput %}
{% endif %}