{% set exitpopup = __SELF__.exitpopup %}

{% if exitpopup.enabled %}

<!--
	<div id="bio_ep_bg"></div>
	<div id="bio_ep">
	    <div id="bio_ep_close">X</div>
	    <a href="{{ exitpopup.link }}" title="{{ exitpopup.title }}">
			<img src="{{ exitpopup.image|media }}" alt="{{ exitpopup.title }}"/>
		</a>
	</div>
-->

	<!-- Load Script -->
	{% put scripts %}

		<!-- Manual: http://beeker.io/exit-intent-popup-script-tutorial -->
		<script src="{{ url('/') }}/plugins/diveramkt/floatingbanner/assets/vendor/beeker.io-exitpopup/bioep.min.js"></script>

		<script type="text/javascript">
			if( navigator.userAgent.match(/Android/i)
				 || navigator.userAgent.match(/webOS/i)
				 || navigator.userAgent.match(/iPhone/i)
				 || navigator.userAgent.match(/iPad/i)
				 || navigator.userAgent.match(/iPod/i)
				 || navigator.userAgent.match(/BlackBerry/i)
				 || navigator.userAgent.match(/Windows Phone/i)) {

				    bioEp.init({
				        html: '<a href="{{ exitpopup.link }}" title="{{ exitpopup.title }}"><img src="{{ exitpopup.image|media }}" alt="{{ exitpopup.title }}" /></a>',
				        cookieExp: 0,
			    		delay: 10,
			    		showOnDelay: true,
			    		width: 800,
			    		height: 600,
				    });

				 } else {

				    bioEp.init({
				        html: '<a href="{{ exitpopup.link }}" title="{{ exitpopup.title }}"><img src="{{ exitpopup.image|media }}" alt="{{ exitpopup.title }}" /></a>',
				        cookieExp: 1,
			    		delay: 10,
			    		showOnDelay: false,
			    		width: 800,
			    		height: 600,
				    });

				 }


		</script>

	{% endput %}
{% endif %}