{% set color='' %} {% if obj.settings.colortext_balao %} {% set color='color: '~obj.settings.colortext_balao %} {% endif %}
<div class="box_mensagem blocos esconder_alvo" style="{{obj.settings.background_balao?'background: '~obj.settings.background_balao:''}}">
	<a href="#" class="fa fa-close link_fechar"></a>
	<div class="seta_base seta_base_baixo" style="{{obj.settings.background_balao?'border-top-color: '~obj.settings.background_balao:''}}"></div>
	{% if obj.settings.foto_mensagem.path %}
	<div class="foto_mensagem">
		{% if obj.settings.foto_mensagem.path %}
		<img src="{{obj.settings.foto_mensagem.path|resize(60,60,{mode: 'crop'})}}" />
		{% endif %}
	</div>
	{% endif %}
	<div class="texto_mensagem">
		<div class="Vcenter">
			<div>
				<p style="{{color}}">{{obj.settings.mensagem|raw}}</p>
			</div>
		</div>
	</div>
</div>