{% set obj = __SELF__ %}

{% set form_contato=obj.settings.ativar_form_contato %}
{% set form_ligamos=obj.settings.ativar_form_ligamos %}
{% set form_externo=obj.settings.ativar_form_externo %}

{% set numero_whats=obj.numero_whats %}
{% set telefone=obj.telefone %}

{% set fa_icone=obj.icones_fonte %}
{% set img_icone=obj.icones_image %}
{% set quant_botoes_mobile=obj.quant_botoes_mobile %}
{% set quant_botoes_desktop=obj.quant_botoes_desktop %}

{% if quant_botoes_mobile or quant_botoes_desktop %}

 <!-- put scripts  -->
<!-- <script src="{{url('plugins/diveramkt/whatsappfloat/assets/scripts.js')}}?0.0.4" defer></script> -->
<!-- <script src="{{url('/')}}/plugins/diveramkt/whatsappfloat/assets/upload/dropzone.js?0.0.0" defer></script> -->
<!-- <script src="{{url('/')}}/plugins/diveramkt/whatsappfloat/assets/upload/uploader.js?0.0.0" defer></script> -->
 <!-- endput  -->

{% if __SELF__.addFilesCss[0] %}
{% for file in __SELF__.addFilesCss %}
<!-- <link href="{{file}}" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'"> -->
<!-- <noscript><link rel="stylesheet" href="{{file}}"></noscript> -->
{% endfor %}
{% endif %}

<div class=" botoes_floats botoes_floats_tamanho_{{obj.settings.tamanho_botoes}} {{obj.settings.visible_plugin}} formato_mobile_{{ quant_botoes_mobile > 2 ?obj.settings.formato_mobile:''}} formato_{{obj.settings.formato}} horizontal_{{obj.settings.posicao_horizontal}} {{obj.settings.formato_botoes?obj.settings.formato_botoes:''}} legendas_mobile_{{obj.settings.legendas_mobile?'sim':'nao'}} " style="{{obj.settings.margin_bottom?'bottom: '~obj.settings.margin_bottom~'px':''}};display: none;">

	<!-- ///////////////////BALÃO MENSAGEM -->
	{% if obj.settings.active_mensagem %}
	{% partial __SELF__~'::balao_mensagem' obj=obj %}
	{% endif %}
	<!-- ///////////////////BALÃO MENSAGEM -->

	<div class="botoes_ botoes_quant_mobile_{{quant_botoes_mobile}} botoes_quant_{{quant_botoes_desktop}} ">
		<!-- botoes_{{quant_botoes==1?'one':'mult'}} -->
		{% set text_whats='&text='~obj.settings.text_padrao %}

		{% for bot in obj.settings.ordem %}

		{% if obj.settings.formato_mobile == 'aolado' %}
		
		{% if quant_botoes_mobile == 1 %} {% set tamanho_mobile='12' %} {% elseif quant_botoes_mobile == 2 %} {% set tamanho_mobile='6' %} {% else %} {% set tamanho_mobile='' %} {% endif %}

		{% else %}
		{% set tamanho_mobile=bot.tamanho_mobile %}
		{% endif %}

		{% if bot.botao == 'Link_personalizados' and obj.links_personalizados.count %}
		{% partial __SELF__~'::botoes_personalizados' tamanho_mobile=tamanho_mobile links=obj.links_personalizados.botoes %}
		{% endif %}

		{% if numero_whats and bot.botao == 'Whatsapp' and obj.settings.ativar_whatsapp %}
		{% partial __SELF__~'::botao_whatsapp' tamanho_mobile=tamanho_mobile img_icone=img_icone obj=obj fa_icone=fa_icone numero_whats=numero_whats text_whats=text_whats %}
		{% endif %}

		{% if telefone and bot.botao == 'Telefone' and obj.settings.ativar_telefone %}
		{% partial __SELF__~'::botao_telefone' tamanho_mobile=tamanho_mobile img_icone=img_icone obj=obj telefone=telefone fa_icone=fa_icone %}
		{% endif %}

		{% if form_contato and bot.botao == 'Contato' %}
		{% set color='' %} {% if obj.settings.colortext_contato %} {% set color='color: '~obj.settings.colortext_contato %} {% endif %}
		<div class="link_botao_whatsappfloat botao_form_contato {{obj.settings.visivel_form_contato}} {{tamanho_mobile != 'lateral'?' botao_mobile_aberto ':''}} xs{{tamanho_mobile}}" style="{{obj.settings.color_contato?'background: '~obj.settings.color_contato:''}}">
			<div class="Vcenter center_link">
				<div>
					<!-- <label class="link_click" title="{{obj.legenda_contato}}"> -->
						<a class="clique_modal_float" data-form=".modal_form_contato" href="#" title="{{obj.legenda_contato}}">
							<i style="{{color}}" class="{{fa_icone.numero}} fa-envelope"></i>
							<span style="{{color}}" class="txt">{{obj.settings.legenda_contato}}</span>
						</a>
						<!-- </label> -->
					</div>
				</div>
				<a class="abrir_link clique_modal_float" data-form=".modal_form_contato" href="#" title="{{obj.settings.legenda_contato}}"></a>
			</div>
			{% endif %}

			{% if form_ligamos and bot.botao == 'Ligamos' %}
			{% set color='' %} {% if obj.settings.colortext_ligamos %} {% set color='color: '~obj.settings.colortext_ligamos %} {% endif %}
			<div class="link_botao_whatsappfloat botao_form_ligamos {{obj.settings.visivel_form_ligamos}} {{tamanho_mobile != 'lateral'?' botao_mobile_aberto ':''}} xs{{tamanho_mobile}}" style="{{obj.settings.color_ligamos?'background: '~obj.settings.color_ligamos:''}}">
				<div class="Vcenter center_link">
					<div>
						<a class="clique_modal_float" data-form=".modal_form_ligamos" href="#" title="{{obj.legenda_ligamos}}">
							{% if obj.settings.icone_ligamos.path_resize %}
							<img src="{{ obj.settings.icone_ligamos.path_resize }}" class="fa img_icone" loading="lazy" width="60" height="60" alt="{{obj.settings.legenda_ligamos}}" />
							{% endif %}
							<span class="txt" style="{{color}}">{{obj.settings.legenda_ligamos}}</span>
						</a>
					</div>
				</div>
				<a class="abrir_link clique_modal_float" data-form=".modal_form_ligamos" href="#" title="{{obj.settings.legenda_ligamos}}"></a>

			</div>
			{% endif %}

			{% endfor %}

		</div>

		{% put styles %}
		<!-- <style type="text/css">
			.modal_form_float{visibility: hidden;opacity: 0;}
			.modal_form_float.modal_visivel{visibility: visible;opacity: 1;}
		</style> -->
		{% endput %}

		{% partial __SELF__~'::modais' obj=obj %}

		<div class="modal_form_float modal_form_contato">
			<div class="fundo abrir_link"></div>
			<div class="Vcenter">
				<div>
					<div class="blocos" style="{{obj.settings.color_contato?'background: '~obj.settings.color_contato:''}}">
						<a href="#" class="fa fa-close" title="Fechar"></a>
						<!--  partial '@form/contato'  -->
						<div class="atualizar_form_contato_float">
							{% partial __SELF__~'::form_contato' %}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal_form_float modal_form_ligamos">
			<div class="fundo abrir_link"></div>
			<div class="Vcenter">
				<div>
					<div class="blocos" style="{{obj.settings.color_ligamos?'background: '~obj.settings.color_ligamos:''}}">
						<a href="#" class="fa fa-close" title="Fechar"></a>
						<!--  partial '@form/contato'  -->
						<div class="atualizar_form_ligamos_float">
							{% partial __SELF__~'::form_ligamos' %}
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	{% endif %}

