
{% set obj = __SELF__ %}

{% set form_contato=obj.settings.ativar_form_contato %}
{% set form_ligamos=obj.settings.ativar_form_ligamos %}
{% set form_externo=obj.settings.ativar_form_externo %}

{% set numero_whats=obj.numero_whats %}
{% set telefone=obj.telefone %}

{% set fa_icone=obj.icones_fonte %}
{% set quant_botoes=obj.quant_botoes %}

{% if quant_botoes %}

<div class="botoes_floats formato_mobile_{{ quant_botoes > 2 ?obj.settings.formato_mobile:''}} formato_{{obj.settings.formato}} horizontal_{{obj.settings.posicao_horizontal}} {{obj.settings.formato_botoes?obj.settings.formato_botoes:''}} " style="display: none;bottom: {{obj.settings.margin_bottom}};">

	{% if obj.settings.active_mensagem %}
	<div class="box_mensagem blocos esconder_alvo" style="{{obj.settings.background_balao?'background: '~obj.settings.background_balao:''}}">
		<a href="#" class="fa fa-close link_fechar"></a>
		<div class="seta_base seta_base_baixo" style="{{obj.settings.background_balao?'border-top-color: '~obj.settings.background_balao:''}}"></div>
		{% if obj.settings.foto_mensagem.path %}
		<div class="foto_mensagem">
			{% if obj.settings.foto_mensagem.path_resize %}
			<img src="{{obj.settings.foto_mensagem.path_resize}}" />
			{% else %}
			<img src="{{obj.settings.foto_mensagem.path|resize(60,60,{mode: 'crop'})}}" />
			{% endif %}
		</div>
		{% endif %}
		<div class="texto_mensagem">
			<div class="Vcenter">
				<div>
					<p>{{obj.settings.mensagem|raw}}</p>
				</div>
			</div>
		</div>
		
	</div>
	{% endif %}

	<div class="botoes_ botoes_quant_{{quant_botoes}} botoes_{{quant_botoes==1?'one':'mult'}}">
		{% set text_whats='&text='~obj.settings.text_padrao %}

		{% for bot in obj.settings.ordem %}

		{% if obj.settings.formato_mobile == 'aolado' %}
		
		{% if quant_botoes == 1 %} {% set tamanho_mobile='12' %} {% elseif quant_botoes == 2 %} {% set tamanho_mobile='6' %} {% else %} {% set tamanho_mobile='' %} {% endif %}

		{% else %}
		{% set tamanho_mobile=bot.tamanho_mobile %}
		{% endif %}

		{% if numero_whats and bot.botao == 'Whatsapp' and obj.settings.ativar_whatsapp %}
		{% if obj.device == 'mobile' %}
		{% set link_whats='https://api.whatsapp.com/send?phone=55' %}
		{% else %}
		{% set link_whats='https://web.whatsapp.com/send?phone=55' %}
		{% endif %}

		{% set link_whats=link_whats~numero_whats~text_whats %}

		<div class="link_botao_whatsappfloat whats {{tamanho_mobile != 'lateral'?' botao_mobile_aberto ':''}} xs{{tamanho_mobile}}" style="{{obj.settings.color_whatsapp?'background: '~obj.settings.color_whatsapp:''}}">
			<div class="Vcenter center_link">
				<div>
					<a class="link_click" href="{{link_whats }}" title="Atendimento via WhatsApp" target="_blank">
						<i class="{{fa_icone.whatsapp}} fab fa-whatsapp"></i>
						<span class="txt">
							<span class="mobi">{{obj.settings.legenda_whats_mobile}}</span>
							<span class="desk">{{obj.settings.legenda_whats}}</span>
						</span>
					</a>
				</div>
			</div>
			<a class="abrir_link" href="{{link_whats}}" title="Atendimento via WhatsApp" target="_blank"></a>
		</div>

		{% endif %}

		{% if telefone and bot.botao == 'Telefone' and obj.settings.ativar_telefone %}
		<div class="link_botao_whatsappfloat tel {{tamanho_mobile != 'lateral'?' botao_mobile_aberto ':''}} xs{{tamanho_mobile}}" style="{{obj.settings.color_tel?'background: '~obj.settings.color_tel:''}}">
			<div class="Vcenter center_link">
				<div>
					<a class="link_click" href="tel:+55{{telefone}}" title="{{obj.settings.tel}}" target="_blank">
						<i class="{{fa_icone.numero}} fa-phone"></i>
						<span class="txt">{{obj.settings.legenda_telefone}}</span>
					</a>
				</div>
			</div>
			<a class="abrir_link" href="tel:+55{{telefone}}" title="{{obj.settings.tel}}" target="_blank"></a>
		</div>
		{% endif %}

		{% if form_contato and bot.botao == 'Contato' %}
		<div class="link_botao_whatsappfloat botao_form_contato {{tamanho_mobile != 'lateral'?' botao_mobile_aberto ':''}} xs{{tamanho_mobile}}" style="{{obj.settings.color_contato?'background: '~obj.settings.color_contato:''}}">
			<div class="Vcenter center_link">
				<div>
					<!-- <label class="link_click" title="{{obj.legenda_contato}}"> -->
						<a class="clique_modal_float" data-form=".modal_form_contato" href="#" title="{{obj.legenda_contato}}">
							<i class="{{fa_icone.numero}} fa-envelope"></i>
							<span class="txt">{{obj.settings.legenda_contato}}</span>
						</a>
						<!-- </label> -->
					</div>
				</div>
				<a class="abrir_link clique_modal_float" data-form=".modal_form_contato" href="#" title="{{obj.settings.legenda_contato}}"></a>
			</div>
			{% endif %}

			{% if form_ligamos and bot.botao == 'Ligamos' %}
			<div class="link_botao_whatsappfloat botao_form_ligamos {{tamanho_mobile != 'lateral'?' botao_mobile_aberto ':''}} xs{{tamanho_mobile}}" style="{{obj.settings.color_ligamos?'background: '~obj.settings.color_ligamos:''}}">
				<div class="Vcenter center_link">
					<div>
						<a class="clique_modal_float" data-form=".modal_form_ligamos" href="#" title="{{obj.legenda_ligamos}}">
							<!-- <i class="{{fa_icone.numero}} fa-phone-square"></i> -->

							{% if obj.settings.icone_ligamos.path_resize %}
							<img src="{{ obj.settings.icone_ligamos.path_resize }}" class="fa img_icone" />
							{% else %}
							<img src="{{ obj.settings.icone_ligamos.path|resize(30,auto,{quality: 80,extension: 'png'}) }}" class="fa img_icone" />
							{% endif %}
							<span class="txt">{{obj.settings.legenda_ligamos}}</span>
						</a>
					</div>
				</div>
				<a class="abrir_link clique_modal_float" data-form=".modal_form_ligamos" href="#" title="{{obj.settings.legenda_ligamos}}"></a>

			</div>
			{% endif %}

			{% if form_externo and bot.botao == 'Form_externo' %}
			<div class="link_botao_whatsappfloat botao_form_externo {{tamanho_mobile != 'lateral'?' botao_mobile_aberto ':''}} xs{{tamanho_mobile}}" style="{{obj.settings.color_externo?'background: '~obj.settings.color_externo:''}}">
				<div class="Vcenter center_link">
					<div>
						<a class="clique_modal_float" data-form=".modal_form_externo" href="#" title="{{obj.legenda_form_externo}}">
							<i class="{{fa_icone.numero}} fa-calculator"></i>
							<span class="txt"> {{obj.settings.legenda_form_externo}}</span>
						</a>
					</div>
				</div>
				<a class="abrir_link clique_modal_float" data-form=".modal_form_externo" href="#" title="{{obj.settings.legenda_form_externo}}"></a>
			</div>
			{% endif %}

			{% endfor %}

		</div>

		<div class="modal_form_float modal_form_contato">
			<div class="fundo abrir_link"></div>
			<div class="Vcenter">
				<div>
					<div class="blocos" style="{{obj.settings.color_contato?'background: '~obj.settings.color_contato:''}}">
						<a href="#" class="fa fa-close" title="Fechar"></a>
						<!--  partial '@form/contato'  -->
						<div class="atualizar_form_contato_float">
							{% partial __SELF__~'::form_contato' %}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal_form_float modal_form_externo">
			<div class="fundo abrir_link"></div>
			<div class="Vcenter">
				<div>
					<div class="blocos" style="{{obj.settings.color_externo?'background: '~obj.settings.color_externo:''}}">
						<a href="#" class="fa fa-close" title="Fechar"></a>
						<!--  partial '@form/contato'  -->
						<div class="atualizar_form_externo_float">
							{% partial __SELF__~'::form_externo'
							action=obj.settings.link_form_externo
							titulo=obj.settings.legenda_form_externo
							nome=obj.settings.input_nome_form_externo
							email=obj.settings.input_email_form_externo
							telefone=obj.settings.input_telefone_form_externo
							%}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal_form_float modal_form_ligamos">
			<div class="fundo abrir_link"></div>
			<div class="Vcenter">
				<div>
					<div class="blocos" style="{{obj.settings.color_ligamos?'background: '~obj.settings.color_ligamos:''}}">
						<a href="#" class="fa fa-close" title="Fechar"></a>
						<!--  partial '@form/contato'  -->
						<div class="atualizar_form_ligamos_float">
							{% partial __SELF__~'::form_ligamos' %}
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	{% endif %}