<form class="validate validate-tooltip externoform_float" data-legenda="form_externo" method="post" action="{{ action }}" target="_blank">
	<!-- data-request-update="@form/contato: '.atualizar_form_externo_float'" -->
	{{ form_token() }}

	<h2 class="titulo_">{{ titulo }}</h2>
	{% if nome %}
	<label class="input_label">
		<p>Seu nome</p>
		<input name="{{nome}}" type="text" id="name" data-validate="required" required="required">
		<!-- <input class="input_placeholder" type="text" placeholder="Seu nome"> -->
	</label>
	{% endif %}
	{% if telefone %}
	<label class="input_label">
		<p>Seu telefone</p>
		<input type="tel" name="{{telefone}}" data-validate="phone" required="required">
		<!-- <input class="input_placeholder" type="text" placeholder="Seu telefone"> -->
	</label>
	{% endif %}
	{% if email %}
	<label class="input_label">
		<p>Seu e-mail</p>
		<input name="{{email}}" type="text" id="email" required="required" data-validate="email">
		<!-- placeholder="Seu Email"  -->
	</label>
	{% endif %}

	<div class="div_input_loading">
		<button type="submit" class="button btn"><i class="fa fa-check-circle"></i> Enviar</button>
		<span data-attach-loading class="lod_"></span>
	</div>
</form>
