<form class="validate validate-tooltip contactform_float" data-legenda="form_contato" data-request="{{ __SELF__ }}::onFormSubmitContato" data-request-flash data-request-update="'{{ __SELF__ }}::form_contato': '.atualizar_form_contato_float'">
	<!-- data-request-update="@form/contato: '.atualizar_form_contato_float'" -->
	{{ form_token() }}

	<input name="pagina" type="hidden" value="{{this.page.title}}">
	<input name="titulo_da_pagina" type="hidden">
	<input name="url_da_pagina" type="hidden">

	<h2 class="titulo_">Fale Conosco</h2>
	<label class="input_label">
		<p>Seu nome</p>
		<input name="nome" type="text" id="nome_contato_float" data-validate="required" required="required">
		<!-- <label for="nome_contato_float">Seu nome</label> -->
	</label>
	<label class="input_label">
		<p>Seu telefone</p>
		<input type="tel" id="telefone_contato_float" name="telefone" data-validate="phone" required="required">
		<!-- <label for="telefone_contato_float">Seu telefone</label> -->
	</label>
	<label class="input_label">
		<p>Seu E-mail</p>
		<input name="email" type="text" id="email_contato_float" required="required" data-validate="email">
		<!-- <label for="email_contato_float">Seu E-mail</label> -->
	</label>
	<label class="input_label">
		<!-- <label for="mensagem">Digite sua mensagem</label> -->
		<p>Digite sua mensagem</p>
		<textarea rows="4" name="mensagem" id="mensagem_contato_float" required="required" data-validate="required"></textarea>
		<!-- <label for="mensagem_contato_float">Digite sua mensagem</label> -->
		<!-- placeholder="Digite sua mensagem" -->
	</label>
	<!--  partial '@recaptcha'   -->
	<!--  partial 'plugins/martin/forms/components/partials/recaptcha'  -->

	<div id="{{ __SELF__ }}_forms_flash"></div>
	<!-- <div class="alert alert-danger" data-validate-error><p data-message></p></div> -->
	<div class="div_input_loading">
		<span data-attach-loading class="lod_"></span>
		<button type="submit" class="button btn"><i class="fa fa-envelope"></i> Enviar</button>
	</div>

</form>